* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, sans-serif;
  background-color: #fafafa;
  color: #222;
}

/*CZCIONKI:*/
@font-face {
  font-family: 'Antykwa Poltawskiego';
  src: url('/fonts/poltawski/antpolt-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Antykwa Poltawskiego';
  src: url('/fonts/poltawski/antpolt-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Antykwa Poltawskiego';
  src: url('/fonts/poltawski/antpolt-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Antykwa Poltawskiego';
  src: url('/fonts/poltawski/antpolt-bolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

body {
  /*font-family: serif;*/
}

p {
  margin: 0rem;
  line-height: 1.6;
  font-family: 'Antykwa Poltawskiego';
}

ul, ol {
  margin: 0px;
  padding-left: 1.25rem;
}

li {
  margin: 0px;
}

hr {
  margin: 1rem 0 0 0; /* top right bottom left */
  border: none;
  border-top: 1px solid #ccc;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h2 {
  margin: 1.5rem 0 1rem 0;
  line-height: 1.2;
}

h3 {
  margin: 1rem 0 0.25rem 0;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: normal;
  color: #222; /* or #333 for softer dark */
}

h4 {
  margin: 1rem 0 0.25rem 0;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: normal;
  color: #222; /* or #333 for softer dark */
}

h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

nav {
  background: #222;
  color: white;
  padding: 1rem;  
}
nav a {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

main {
  padding: 2rem;
}

.cvbeginning {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.contact-info {
  text-align: center;
  margin-bottom: 0rem;
}

.contact-info .item {
  display: inline;
}

.contact-info .separator {
  display: inline;
}







@media (max-width: 769px) {

  main {
    padding: 0.25rem;
  }

  .contact-info .item {
    display: block;
    line-height: 1.4;
  }

  .contact-info .separator {
    display: none;
  }

  .contact-info {
    margin: 0 auto;           /* ⬅️ This centers the block */
    text-align: left;         /* ⬅️ This aligns text inside the block to the left */
    width: max-content;       /* ⬅️ Shrinks block to fit its contents */
    padding-left: 0.5rem;     /* ⬅️ Optional: inner spacing */
  }

  .cvbeginning { 
  max-width: 900px;
  margin: 0 auto; 
  padding: 0.2rem; 


  h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}
}
}






